*{
    margin: 0;
    padding: 0;
    font-family: work-sans, sans-serif;
}


.hero{
    height: 100vh;
    background-image: url('../images/Rectangle\ 2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1) 0%, rgba(16, 16, 16, 0) 100%), url('../images/Rectangle 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
    text-align: center;
    color: white;
}

.hero-container p{
    font-size: 18px;
    margin-bottom: 14px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: Work Sans;
}
.hero-container h1{
color: rgba(255, 255, 255, 1);
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0%;
text-align: center;
line-height: 1.05;
color: rgba(255, 255, 255, 1);
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}

.description p{
color: rgba(255, 255, 255, 1);
font-family: Work Sans;
font-size: 14px;
font-weight: 200;
line-height: 16px;
letter-spacing: 0%;
/* text-align: justify; */
opacity: 0.7;
letter-spacing: 0;

}
.hero-container button{
    margin-top: 20px;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(82, 195, 3, 1);
    cursor: pointer;
}

/* ---------------------------------------------- */

.second-page{
    margin-top: 165px;
    text-align: center;

}

.second-page h1{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 16px;
}

.card{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    
}
.card-box{
    width: 360px;
    height: 400px;
    margin: 10px;
    align-items: center;
    text-align: center;x
    
}

.card-box img{
    width: 100%;
    height: 240px;
}

.card-box .food{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    background-color: rgba(82, 195, 3, 0.15);
    padding: 10px 18px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 28px;
    margin-bottom: 22px;
}

.card-box h1{
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: 600;
}

.description-food{
    margin-top: 20px;
    margin-bottom: 20px;
}
.description-food p{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.watch{
    text-align: center;
    margin-top: 60px;
}
.watch button{
    margin-top: 40px;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(82, 195, 3, 1);
    display: block;
    margin: 20px auto 0;
    cursor: pointer;


}

.about{
    display: flex;
    margin-top: 50px;

}

.about-image img{
    width: 50vw;
    max-width: 100%;
    height: auto;
    display: block;
}
.about-text{
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 10%;
    /* margin-right: 100px; */

}
.about-text h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.3;
}
.about-text p{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}   
.about-text h5{
    color: rgba(82, 195, 3, 1);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}